*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: whit;
}

a{
    color:white;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.menu{
    background-color: rgb(181, 17, 196);
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

a:hover{
    color: rgb(202, 157, 244);
    transition: all  1s;
    

}

strong{
    color: rgb(107, 9, 107);
}


main{
    display: grid;
    place-content: center;
    height: 100vh;
}

.form{
    background-color: white;
    height: 400px;
    width: 300px;
    border-radius:4px;
}
input{
 size: 10px;
 outline: none;
 border: 0px;
 background-color: blueviolet;
 border-radius: 4px;
 height: 30px;
 size: 100px;

}
form{
    border: 0px;
    outline: none;
}


    



